<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="orange">
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/service">Serivce</a>
    <a href="/contact">contact us</a>
    <hr size="4" color="blue">
    <h1>welcome to about</h1>
    
    <hr size="4" color="red">
www.mycompany.com all right reserved 2024
</body>
</html>