<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>    
    <a href="/display">Display</a>    
    <a href="/contact">Contact</a>    
    <a href="/update">update</a>
                    <h1 align="center">Enter the student deatils</h1>

                    <form method="post"  action="/studentdata">

                            Roll no : <input type="text" name="rollno">
                                <br>
                                <br>
                            Name : <input type="text" name="name">
                            <br>
                            <br>
                            City : <input type="text" name="city">
                            <br>
                            <br>
                            Fees : <input type="text" name="fees">
                                <br>
                                <br>
                            <input type="submit" value="save">

                    </form>



                    <hr size="4" color="yellow">
                    wwww.zyx.com
</body>
</html>